<!DOCTYPE html>
<html style="
    height: 100%;
    background-color: #585365;
    color: #fefefe !important;
">
{% include head.html %}
  <body style="
    color: #fefefe !important;
    height: 100%;
    display: flex;
">
    <main class="page-main" style="
    /* height: 100%; */
">
      <article class="main-content container" style="
    margin: auto;
    height: 100%;
    display: flex;
">
        <div class="coming-soon" style="
    display: flex;
    align-items: center;
">
          <img class="logo" src="/assets/images/tsc-logo-light.png">
          <span style="
    color: #fefefe;
    font-size: larger;
    font-style: italic;
">Coming Soon...</span>
        </div>
      </article>
    </main>
  
  <script src="assets/js/bulma.js"></script>
  
</body></html>