<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include nav.html %}
    <main class="page-main">
      <article class="main-content container">{{ content }}</article>
    </main>
  </body>
  <footer>
    <div class="contact-buttons">
        <a class="social-icon" id="twitter" href="https://twitter.com/thesugawaracltv" target="_blank">&nbsp;</a>
        <a class="social-icon" id="insta" href="https://www.instagram.com/thesugawaracollective/" target="_blank">&nbsp;</a>
        <a class="social-icon" id="tumblr" href="https://www.tumblr.com/thesugawaracollective" target="_blank">&nbsp;</a>
        <a class="social-icon" id="mail" href="mailto:sugawaradigizine@gmail.com" target="_blank">&nbsp;</a>
    </div>
  </footer>
  <script src="{{ 'assets/js/bulma.js' | prepend: site.baseurl }}"></script>
  {% if page.scripts %}
  {% for script in page.scripts %}
    <script src="{{ script }}"></script>
  {% endfor %}
  {% endif %}
</html>